.column {
    float: left;
    width: 50%;
  }
.container {
    position: relative;
    font-family: Arial;
  }
.option{
  margin-top: 0px;;
}
  .block {
    display: block;
    width: 30%;
    border: none;
    margin-left: 200px;
    margin-top: 50px;
    background-color: rgb(19, 9, 9);
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }
  
  .block:hover {
    background-color: #ddd;
    color: black;
  }
.text-block{
    position: absolute;
    bottom: 300px;
    margin-top: 100px;
    margin-left: 250px;
    margin-right: 150px;
    color: white;
    padding-left: 30px;
    padding-right: 20px;
  }
.clo{
  height: 600px;
}
.imagee{
  width: 680px;
  height: 600px;
  width: 780px;
  height: 650px;
  filter: brightness(80%);
}
.imgset{
  float: right;
  width: 30%
}
.slidecontainer {
  width: 50%;
  margin-left: 370px;
  margin-top: 100px;
}
.homesetting{
  margin-top: 100px;
  height: auto;
  
}
.slider {
  -webkit-appearance: none;
  width: 40%;
  height: 10px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.slider:hover {
  opacity: 1;
}

.info{
  margin-top: 50px;
}
.des{
  border-radius: 2%;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 80%;
  height: 52%;
  padding-left: 20px;
  float: left;
  background-color: slategrey;
}


.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 12px;
  background: blue;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 12px;
  background: #000000;
  cursor: pointer;

}


#i11{
  height: 450px;
  width: 1100px;
  border-radius: 10px;
  box-shadow: 0 0 20px white ;
}

.banner-card{
  padding: 30px;
  
}

.banner-text{
  position: absolute;
  top: 75%;
  left: 300%;
  color: yellow;
  padding: 10px;

}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 12px;
  background: blue;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 12px;
  background: #000000;
  cursor: pointer;
}

.card{
	padding: 30px 50px 30px;
	margin-top: 30px;
	box-shadow: 0 2px 2px 0 yellow, 0 2px 15px yellow;
  padding-left: 60px;
  height: 400px;
  margin-bottom: 50px;
}

.ulsettings{
  margin-left: 350px;
}


@media(min-width: 992px) {

}
@media(min-width: 768px) and (max-width: 991px){
  .imagee{
    width: 560px;
  }
}
@media(min-width: 575px) and (max-width: 767px){
  .imagee{
    width: 590px;
    height: auto;
  }
}
@media(min-width: 480px) and (max-width: 574px){
  .imagee{
    width: 470px;
    height: auto;
  }
  .text-block{
    margin-left: 180px;
    vertical-align: middle;
  }
}
@media (max-width: 479px){
  .imagee{
    width: 390px;
    height: auto;
  }
  .text-block{
    margin-left: 180px;
    vertical-align: middle;
  }
}