<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../Assets/logo/logo.jpg">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="../Style/java.js"></script>
    <link rel="stylesheet" href="../Style/css.css">
    <title>Fit-n-Fine</title>
    <script>
    $(
        function (){
            $(".under").load("underweight.html")
        }
    );
    </script>
    <script>
        $(function (){
            $(".perfect").load("Ideal.html")
        });
    </script>
</head>

<body style="background-color:#3D3D3D;">
    <nav class="navbar navbar-expand-md bg-warning navbar-dark fixed-top"
        style="border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;">

        <a class="navbar-brand font-weight-bold" href="#">Fit-n-Fine</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <section id="here" class="sections">

    </section>

</body>
<script>
    let bmii = localStorage.getItem("key"); 
    if (bmii < 18.5) {
        document.getElementById("here").classList.add("under");
    }
    else if (bmii >= 18.5 && bmii < 24.9) {
        document.getElementById("here").classList.add("perfect");
    }
    else if (bmii > 25 && bmii < 29.9) {
        document.getElementById("here").classList.add("over");
    }
    else if (bmii > 30) {
        document.getElementById("here").classList.add("obese");
    }
</script>

</html>