<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../Assets/logo/logo.jpg">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="../Style/java.js"></script>
    <link rel="stylesheet" href="../Style/css.css">
    <title>Fit-n-Fine</title>
</head>

<body style="background-color:#3D3D3D;">
    <nav class="navbar navbar-expand-md bg-warning navbar-dark fixed-top"
        style="border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;">

        <a class="navbar-brand font-weight-bold" href="#">Fit-n-Fine</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto usetting">
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Membership</a>
                </li>
            </ul>
        </div>
    </nav>


<!--<section class="homesetting">
        <div class="container">
                <div class="col-lg-6 col-md-8 col-sm-10 col-10 d-block m-auto" style="float: left;">
                    <div class="banner-card">
                        <img id="i11"
                            src="../Assets/Workout/wrk1.jpg">
                        <div class="banner-text">
                            <b>
                                <h4 id="key">Beginner</h4>
                            </b>
                        </div>
                    </div>
                </div>
                <div class=" col-lg-6 col-md-8 col-sm-10 col-10 d-block m-auto" style="float:right;">
                    <div class="banner-card">
                        <img id="i11"
                            src="../Assets/Workout/wrk2.jpg">
                        <div class="banner-text">
                            <b>
                                <h4>Intermediate</h4>
                            </b>
                        </div>
                    </div>
                </div>

                <div class=" col-lg-6 col-md-8 col-sm-10 col-10 d-block m-auto" style="float: left;">
                    <div class="banner-card">
                        <img id="i11"
                            src="../Assets/Workout/wrk3.jpg">
                        <div class="banner-text">
                            <b>
                                <h4>Advance</h4>
                            </b>
                        </div>
                    </div>
                </div>
                <div class=" col-lg-6 col-md-8 col-sm-10 col-10 d-block m-auto" style="float: right;">
                    <div class="banner-card">
                        <img id="i11"
                            src="../Assets/Workout/wrk4.jpg">
                        <div class="banner-text">
                            <b>
                                <h4">Basic Workout</h4>
                            </b>
                        </div>
                    </div>
                </div>
        </div>
    </section>-->

    <section class="homesetting">
        <div class="container">
                <div class="col-lg-6 col-md-8 col-sm-10 col-10 d-block m-auto">
                    <div class="banner-card">
                        <a href="workout.html">
                        <img id="i11"
                            src="../Assets/Workout/wrk1.jpg">
                        </a>
                        <div class="banner-text">
                            <b>
                                <h4 id="key">Gradually</h4>
                            </b>
                        </div>
                    </div>
                </div>
                <div class=" col-lg-6 col-md-8 col-sm-10 col-10 d-block m-auto">
                    <div class="banner-card">
                        <a href="workout.html">
                        <img id="i11"
                            src="../Assets/Workout/wrk2.jpg">
                        </a>
                        <div class="banner-text">
                            <b>
                                <h4>Rigourously</h4>
                            </b>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-8 col-sm-10 col-10 d-block m-auto">
                    <div class="banner-card">
                        <a href="workout.html">
                        <img id="i11"
                            src="../Assets/Workout/wrk1.jpg">
                        </a>
                        <div class="banner-text">
                            <b>
                                <h4 id="key">Regular workout</h4>
                            </b>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    


</body>
</html>