<html>

<head>
	<title>Fit-n-Fine</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../Style/css.css">
	<link rel="icon" href="../Assets/logo/logo.jpg">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script src="../Style/java.js"></script>
</head>

<body style="background-color: floralwhite;">
	<img src="../Assets/logo/logo.jpg" width="150" height="140">
	<div class="container introset">
		<div class="logo">
			<center>
				<h4>Fit-n-Fine workout</h4>
				<h6>Stay healthy stay effective</h6>
			</center>
			<br><br>
		</div>
		<div class="row" style="float: left; width: 60%;">
			<div class="col-lg-12 col-md-12 col-sm-10 col-10 d-block m-auto">
				<form action="../php/connections.php" method="post">
					Please select your age
					<div class="form-group slidercontainer"><input type="range" min="10" max="90" value="18" class="slider"
							id="myRange" name="age">
					</div>

					<p>
						Your age is : <span id="demo"></span>
					</p>
					<div>
						<div class="info form-group">
							Enter username : <input type="text" id="usrname" class="form-control" name="username" required>
						</div>
						<div class="info form-group">
							Password : <input type="password" id="passwd" class="form-control" name="Password" required>
						</div>
						<div class="info form-group">
							Please enter your height in cm : <input type="number" id="height" class="form-control" name="height" required>
						</div>
						<div class="info form-group">
							Please enter your weight in kg : <input type="number" id="weight" class="form-control" name="weight" required>
						</div>
						<button class="btn btn-success" value="submit" onclick="myFunction();">Submit</button>
						&nbsp;&nbsp;&nbsp;
						<button class="btn btn-danger" value="reset">Reset</button>
					</div>
				</form>
			</div>
		</div>
		<div class="imgset">
			<marquee behavior="scroll" direction="up" height="330px">
				<img src="../Assets/Workout/workout1.jpg" width="300" height="200"><br><br>
				<img src="../Assets/Workout/workout2.jpg" width="300" height="200"><br><br>
				<img src="../Assets/Workout/workout3.jpg" width="300" height="200"><br><br>
				<img src="../Assets/Workout/workout4.jpg" width="300" height="200"><br><br>
				<img src="../Assets/Workout/wrk2.jpg" width="300" height="200"><br><br>
				<img src="../Assets/Workout/diet.jpeg" width="300" height="200">
			</marquee>
		</div>
	</div>
	<script>
		var slider = document.getElementById("myRange");
		var output = document.getElementById("demo");
		output.innerHTML = slider.value;
		slider.oninput = function () {
			output.innerHTML = this.value;
		}
	</script>
	<?php
		include('connections.php');
	?>
</body>

</html>